@{
    ViewData["Title"] = "Home Page";
}

<div class="flex justify-center ...">
    <div>

        <div class="container mx-auto">

            <i class="fa-solid fa-a"></i>
            <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
                <div class="flex-shrink-0">
                    <img class="h-12 w-12" src="favicon.ico" alt="ChitChat Logo">
                </div>
                <div>
                    <div class="text-xl font-medium text-black">ChitChat</div>
                    <p class="text-gray-500">You have a new message!</p>
                </div>
            </div>

        </div>
        <p id="ActualDate">Actual Date: </p>
        <button class="btn btn-primary content-center">Button</button>

        <script>
            $(document).ready(function() {

                $("#ActualDate").text(`Actual Date ${Utils.GetActualDate()}`)

            });
        </script>

    </div>

</div>





<div class="container mx-auto">
    <div class="mt-4 -mb-3">

        <div class="relative rounded-xl overflow-auto p-8">
            <div class="relative columns-1 sm:columns-3 gap-8">
                <div class="relative aspect-w-16 aspect-h-9">
                    <img class="w-full object-cover rounded-lg"
                         src="https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2952&amp;q=80">
                    <div class="absolute inset-0 ring-1 ring-inset ring-black/10 rounded-lg"></div>
                </div>
                <div class="relative aspect-w-1 aspect-h-1 mt-8">
                    <img class="w-full object-cover rounded-lg"
                         src="https://images.unsplash.com/photo-1434394354979-a235cd36269d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2902&amp;q=80">
                    <div class="absolute inset-0 ring-1 ring-inset ring-black/10 rounded-lg"></div>
                </div>
                <div class="relative aspect-w-1 aspect-h-1 mt-8">
                    <img class="w-full object-cover rounded-lg"
                         src="https://images.unsplash.com/photo-1491904768633-2b7e3e7fede5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3131&amp;q=80">
                    <div class="absolute inset-0 ring-1 ring-inset ring-black/10 rounded-lg"></div>
                </div>
            </div>
        </div>

    </div>
</div>